<h1>Friend</h1>
<h2>My Friends List</h2>

  <table>
    <tr>
      <th>First-name</th>
      <th>Last-name</th>
      <th>Nick-name</th>
      <th>GitHub Pages</th>
    </tr>
    <tr>
      <td>jiramet</td>
      <td>phumwatchara</td>
      <td>polpol</td>
      <td><a href="https://github.com/camt-mmit/2024-01-954447-001-lab02-dom-JirametSs">Lab02</a> <a href="https://github.com/camt-mmit/2024-01-954447-001-lab03-basic-typescript-JirametSs">Lab03</a> <a href="https://github.com/camt-mmit/2024-01-954447-001-lab04-basic-angular-JirametSs">Lab04</a></td>
    </tr>
    <tr>
      <td>Natchanon</td>
      <td>Pankaew</td>
      <td>Nat</td>
      <td><a href="https://github.com/camt-mmit/2024-01-954447-001-lab03-basic-typescript-BaboonZa">Lab02</a> <a href="https://github.com/camt-mmit/2024-01-954447-001-lab03-basic-typescript-BaboonZa">Lab03</a> <a href="https://github.com/camt-mmit/2024-01-954447-001-lab04-basic-angular-BaboonZa">Lab04</a></td>
    </tr>
  </table>
