a {
  color: blue;
  text-decoration: none;
  border: 1px solid blue;
  border-radius: 4px;
  }
  a.st-active {
  background-color: silver;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  main a {
    margin: 0.5em;
  }
  .title {
    text-align: center;
  }
