<h2>My Profile</h2>

<h3>Basic Information</h3>
<ul>
  <li><strong>Name:</strong> {{ profile.name }}</li>
  <li><strong>Gender:</strong> {{ profile.gender }}</li>
  <li><strong>Age:</strong> {{ profile.age }}</li>
</ul>

<h3>Story</h3>
<p>I was born in chiangmai and i want to go programmer with my friends</p>

<h3>GitHub Pages</h3>
<div>
  <a href="https://github.com/camt-mmit/2024-01-954447-001-lab02-dom-TunUsaha"
    ><button>Lab02</button></a
  >
  <a
    href="https://github.com/camt-mmit/2024-01-954447-001-lab03-basic-typescript-TunUsaha"
    ><button>Lab03</button></a
  >
  <a
    href="https://github.com/camt-mmit/2024-01-954447-001-lab04-basic-angular-TunUsaha"
  >
    <button>Lab04</button></a
  >
</div>
