<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>My Profile</h1>

  <h2>Basic Information</h2>
  <ul>
    <li>Name: Tun Usaha</li>
    <li>Gender: Male</li>
    <li>Age: 21</li>
  </ul>

  <h2>Autobiography</h2>
  <h1>👋 Hello!, I'm <span>&commat;TunUsaha</span></h1>

  <h2>🎯 <strong>About Me:</strong></h2>
  <ul>
    <li>🌍 Passionate about <strong>Artificial Intelligence</strong> and building innovative solutions.</li>
    <li>💡 Always curious and eager to learn new technologies.</li>
  </ul>

  <h2>🎓 <strong>Currently Exploring:</strong></h2>
  <ul>
    <li>🧠 Deep Learning and Machine Learning.</li>
    <li>📚 Advanced Data Structures and Algorithms.</li>
  </ul>

  <h2>🏫 <strong>Education:</strong></h2>
  <ul>
    <li>🎓 Currently studying <strong>Modern Management and Information Technology</strong> at <strong>CAMT Chiang Mai University</strong>.</li>
    <li>📈 Focused on developing skills at the intersection of technology and management.</li>
  </ul>

  <h2>🤝 <strong>Looking to Collaborate On:</strong></h2>
  <ul>
    <li>🤖 AI/ML projects.</li>
    <li>💻 Open-source contributions that make a real-world impact.</li>
  </ul>

  <h2>📫 <strong>Reach Me At:</strong></h2>
  <ul>
    <li>📧 Email: <a href="mailto:ahasunut@gmail.com">ahasunut&commat;gmail.com</a></li>
    <li>💻 Kaggle: <a href="https://www.kaggle.com/tunusaha" target="_blank">&commat;tunusaha</a></li>
  </ul>

  <h2>🎨 <strong>Hobbies:</strong></h2>
  <ul>
    <li>🚗 Car enthusiast and enjoy the thrill of driving.</li>
    <li>🔍 Always seeking new technological advancements.</li>
    <li>🏀 Passionate about basketball and staying active.</li>
  </ul>

  <h1>Github Page</h1>
  <a href="https://github.com/camt-mmit/2024-01-954447-001-lab02-dom-TunUsaha">Lab02</a> <a href="https://github.com/camt-mmit/2024-01-954447-001-lab03-basic-typescript-TunUsaha">Lab03</a> <a href="https://github.com/camt-mmit/2024-01-954447-001-lab04-basic-angular-TunUsaha">Lab04</a>
</body>
</html>
